<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <button><a href="{{ url_for('annotation.get_annotation', policy_id=policy.policy_id) }}">Back</a></button>
    <button><a href="{{ url_for('annotation.backToPolicy', policy_id=policy.policy_id) }}">Done</a></button>
    <h2>{{ policy['policy_id'] }}</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        {% for k in policy.keys() %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ policy[k] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>